
/*So that each container gets a space in between*/
.container{
    margin-bottom: 100px;

}
/*Carousel customization*/
.bg-color{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel{
    padding: 20px 40px;
}

/*For aligning paragraph in carousel*/
.p-align{
    text-align: justify;
}

/*Button in carousel*/

.bn{
    position: relative;
    top:4px;
    left:3px;
    
    cursor: pointer;
    /*To show a pointer type different cursor whenever the mouse is pointed there*/
}

/*Button in shoe,backpack catagory*/
.bn1{
    position: relative;
    
    right:5px;
    
    cursor: pointer;

}
/*Button in last section*/

.bn2{
    position: relative;
    top:5px;
}
/*For making it responsive - EXTRA*/
.col-md-7{
    padding: 6px 12px;
}





/*Catagory part customization*/

.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
    
}

/*For responsiveness*/
.img{
    width: 100px;
}

.img1{
    height:295px;
    width: 350px;
}


/*General Catagory Section*/

.cat1{
    background-color: orange;
    
    
}
.cat2{
    background-color: aqua;
   
}
.cat3{
    background-color: rgb(198, 132, 234);
    
}

.third h3{
    color: white;
}


/*Shoe catagory*/
.card{
    
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}

/*Bag catagory*/

/*Here we basically removed the footer's top border and made the color white for the bag catagory*/
.card-footer{
    border-top: none;
    background-color: white;
}


/*ID Customization*/
#contactUs{
    height: 300px;
}

#contactUs h6{
    color: rgb(81, 79, 79);
}


#buy-col{
    color: #dc3545;
}
