
.container{
    margin-bottom: 100px;

}
.bg-color{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel{
    padding: 20px 40px;
}

.p-align{
    text-align: justify;
}

.bn{
    position: relative;
    top:10px;
    left:3px;
    cursor: pointer;
    /*To show a pointer type different cursor whenever the mouse is pointed there*/
}

.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}

.cat1{
    background-color: orange;
    
}
.cat2{
    background-color: aqua;
   
}
.cat3{
    background-color: rgb(198, 132, 234);
    
}

.third h1{
    color: white;
}



#buy-col{
    color: #dc3545;
}
